extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 James Winchester

        p Full Stack JavaScript Developer

        .about-bio

          p I have a passion for technology both new and old. When I'm not tinkering with retro electronics I'm finding new ways to expand my knowledge of web technology.


      .skills-contact-box.box
        h6 Skills
 
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info
     
        ul
          li 555-555-1234
          li email@email.com
      
        a.btn-link(href='https://www.linkedin.com/in/james-winchester-11b945210/' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/wildrover254' target='_blank') GitHub
        a.btn-link(href='https://twitter.com/wildrover254' target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back