extends layout.pug

block content

  article.portfolio-intro

    h1 My Javascript Portfolio

    p This portfolio is a collection of the projects that I've completed during my Treehouse Techdegree. They are all Javascript focused projects, with the occasional custom HTML and CSS. This portfolio site itself is the sixth project in the program.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        
        .cell
          a(href=`project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name} Thumbnail`)
            h5=project.project_name

