extends layout.pug 

block content 

    section.error
        h1= `${error.message} - Status Code ${error.status}`
        img.error-image(src='../static/images/ghost.svg')
        p You've reached a Dead End

    nav.nav
        a(href='/')
          span &larr;
          |  Back